<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645658216679-vatcl2sklv2l2c0nsgdrurp4ec3ttqdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645658216679-vatcl2sklv2l2c0nsgdrurp4ec3ttqdd</string>
	<key>API_KEY</key>
	<string>AIzaSyBFnZ4cQ2yNt_s3hZFuPEEE4FFSvcsnK5M</string>
	<key>GCM_SENDER_ID</key>
	<string>645658216679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SolihTia.ItSayNoDay</string>
	<key>PROJECT_ID</key>
	<string>it-say-no-day</string>
	<key>STORAGE_BUCKET</key>
	<string>it-say-no-day.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645658216679:ios:49e411b367da0e43227a42</string>
	<key>DATABASE_URL</key>
	<string>https://it-say-no-day.firebaseio.com</string>
</dict>
</plist>